.footer{
    background-color: rgb(49, 56, 66);
  }
  
  .gmap-iframe{
    width: 80%;
    height: 400px;
  }
  
  .footer-head-text{
    color: #ffdd01;
  }
  
  .footer-text{
    color: #fff;
    font-size: 1vw;
  }
  
  .footer p {
    font-size: clamp(19px, 1.6vw, 25px);
  }

  .footer a {
    font-size: clamp(19px, 1.6vw, 25px);
    color: #fdb917;
    text-decoration: none !important;
  }
