@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */


.img-gallery{
  height: 70vh;
}

.slider {
  position: relative;
  background-color: rgb(238, 238, 238);
}

.slider__container {
  cursor: grab;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider__container.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}

.slider__item {
  padding: 16px 8px;
  flex: 0 0 auto;
  width: calc(100% / 5);
  text-align: center;
}

.slider__container[data-step="4"] .slider__item {
  width: calc(100% / 4);
}

.slider__container[data-step="3"] .slider__item {
  width: calc(100% / 3);
}

.slider__container[data-step="2"] .slider__item {
  width: calc(100% / 2);
}

.slider__container[data-step="1"] .slider__item {
  width: calc(100% / 1);
}

@media screen and (max-width: 1024px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item {
      width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item {
      width: calc(100% / 2);
  }
}

@media screen and (max-width: 480px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item,
  .slider__container[data-step="2"] .slider__item {
      width: calc(100% / 1);
  }
}

.slider__control {
  font-size: 16px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 32px;
  height: 32px;
  color: #000;
  background: #ffdd01;;
  cursor: pointer;
  transition: all .3s;
}

.slider__control.prev {
  left: 2rem;
}

.slider__control.next {
  right: 2rem;
}

.slider__control:hover {
  transform: translateY(-50%) scale(1.2);
}

.slider__item img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.slider-img{
  width: 80%;
  height: 80%;
}

.slider-img:hover{
  opacity: 0.8;
}

.image-header{
  display: flex;
}

.seemore{
  width: 20%;
  margin:auto;
  background: #ffdd01;
  font-size: 1vw;
  border: none;
  color: #fff;
}

.item-caption{
  background-color: rgba(0,0, 0, 0.6)
  
}

.news1-image{
  width: 100%;
  height: auto;
}

.news2-image{
  width: 100%;
  height: auto;
}

.service-image{
  width: 100%;
  height: 150px;
}

.service-item{
  border: #ffdd01;
  border-style: solid;
  border-width: medium;
}

.service-secton{
  background-color: rgb(238, 238, 238);
}

